<header class="header">
    <div class="container">
        <div class="logo">
            <h1>eKart</h1>
        </div>
        <nav class="nav">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a routerLink="/cart"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                <li><a routerLink="/notification">Notifications</a></li>
                <li class="header-logout" (click)="logout()">Logout</li>
                
            </ul>
        </nav>
    </div>
</header>
